<div class="body">
    <div class="main-container">
        <div class="container" #container>
            <div class="form-container sign-in">
                <form (ngSubmit)="onSubmitUpdateCredentials()" #updateCredentialsForm="ngForm">
                    <h1>Update Credentials</h1>

                    <!-- First Name Field -->
                    <input type="text" placeholder="First Name" [(ngModel)]="firstName" name="firstName" required
                        #firstNameControl="ngModel">
                    <div style="color: red;"
                        *ngIf="firstNameControl.invalid && (updateCredentialsForm.submitted || firstNameControl.touched)">
                        <span *ngIf="firstNameControl.errors?.['required']">
                            <i class="fa fa-warning"></i> First Name is required.
                        </span>
                    </div>

                    <!-- Last Name Field -->
                    <input type="text" placeholder="Last Name" [(ngModel)]="lastName" name="lastName" required
                        #lastNameControl="ngModel">
                    <div style="color: red;"
                        *ngIf="lastNameControl.invalid && (updateCredentialsForm.submitted || lastNameControl.touched)">
                        <span *ngIf="lastNameControl.errors?.['required']">
                            <i class="fa fa-warning"></i> Last Name is required.
                        </span>
                    </div>

                    <!-- Password Field -->
                    <input type="password" placeholder="New Password" [(ngModel)]="password" name="password" required
                        #passwordControl="ngModel">
                    <div style="color: red;"
                        *ngIf="passwordControl.invalid && (updateCredentialsForm.submitted || passwordControl.touched)">
                        <span *ngIf="passwordControl.errors?.['required']">
                            <i class="fa fa-warning"></i> Password is required.
                        </span>
                    </div>

                    <button type="submit">Save Changes</button>
                </form>
            </div>

            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-right">
                        <img class="toggle-logo" src="assets/img/itsquarehub_logo.png" alt="" width="100">
                        <div class="text-container">
                            <h2 class="toggle-header">IT Squarehub</h2>
                        </div>
                        <p class="tagline">Building Quality Service Without Compromise</p>
                        <p class="description">Embrace quality-driven strategies to transform your operation and achieve
                            unparalleled success.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>