<div class="body">
    <div class="main-container">
        <div class="container" #container>
            <div class="form-container sign-in">
                <form (ngSubmit)="onSubmitUpdateCredentials()" #updateCredentialsForm="ngForm">
                    <h1>Update Credentials</h1>
                    <input type="text" placeholder="First Name" [(ngModel)]="firstName" name="firstName" required>
                    <input type="text" placeholder="Last Name" [(ngModel)]="lastName" name="lastName" required>
                    <input type="password" placeholder="New Password" [(ngModel)]="password" name="password" required>
                    <button type="submit" [disabled]="!updateCredentialsForm.form.valid">Save Changes</button>
                </form>
            </div>

            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-right">
                        <img class="toggle-logo" src="assets/img/itsquarehub_logo.png" alt="" width="100">
                        <div class="text-container">
                            <h2 class="toggle-header">IT Squarehub</h2>
                        </div>
                        <p class="tagline">Building Quality Service Without Compromise</p>
                        <p class="description">Embrace quality-driven strategies to transform your operation and achieve
                            unparalleled success.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>