<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<main class="candidates_container">
    <section class="candidates_section">
        <div class="candidates_header_container">
            <div class="icon-container">
                <i class="fas fa-clipboard-list job-icon"></i>
            </div>
            <h1 class="candidates_header">List of Jobs</h1>
        </div>
    </section>
</main>

<div class="table_container">
    <div class="mat-elevation-z8">
        <mat-form-field class="search-form-field" appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="sequenceNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-icon class="column-icon">format_list_numbered</mat-icon>
                    Sequence No
                </th>
                <td mat-cell *matCellDef="let element">
                    <div class="ms-3">
                        <p class="sequence-no-text">{{ element.sequenceNo }}</p>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="jobName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-icon class="column-icon">work</mat-icon>
                    Job Name
                </th>
                <td mat-cell *matCellDef="let element">
                    <div class="ms-3">
                        <p class="primary-text">{{ element.jobName }}</p>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="aging">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-icon class="column-icon">timer</mat-icon>
                    Aging
                </th>
                <td mat-cell *matCellDef="let element">{{ element.aging }}</td>
            </ng-container>

            <ng-container matColumnDef="jobStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-icon class="column-icon">check_circle</mat-icon>
                    Job Status
                </th>
                <td mat-cell *matCellDef="let element">
                    <span [ngClass]="getJobStatusClass(element.jobStatus)">
                        {{ getJobStatusDisplay(element.jobStatus) }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions" class="actions-column">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-icon class="column-icon">settings</mat-icon>
                    Actions
                </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="editElement(element)">
                        <mat-icon class="edit-btn">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteElement(element)">
                        <mat-icon class="delete-btn">delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row no-data-row" *matNoDataRow>
                <td class="mat-cell no-data-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>


        <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
</div>


<app-admin-job-role-editing *ngIf="selectedJobRole" [jobRole]="selectedJobRole"
    (close)="closeEditor()"></app-admin-job-role-editing>