<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<main class="job-posting">
    <div class="icon-container">
        <i class="fas fa-briefcase job-icon"></i>
    </div>
    <h1 class="job-posting-header">Create Job</h1>
    <h3 class="job-posting-subheader">Fill in the details to post a new job opportunity</h3>
    <section class="container">
        <!-- <header class="create-header">Add a New Job Listing</header> -->
        <form [formGroup]="jobForm" (ngSubmit)="onSubmit()" class="form">
            <h2>Job Details</h2>
            <div class="column">
                <div class="input-box">
                    <label>Job Name</label>
                    <input type="text" formControlName="jobName" placeholder="ex. HR Assistant" required />
                </div>
                <div class="input-box">
                    <label>Client Shortcodes</label>
                    <input type="text" formControlName="clientShortcodes" placeholder="ex. ITS" required />
                </div>
            </div>

            <div class="column">
                <div class="input-box">
                    <label>Minimum Salary</label>
                    <input type="number" formControlName="minSalary" placeholder="ex. 14000" required />
                </div>
                <div class="input-box">
                    <label>Maximum Salary</label>
                    <input type="number" formControlName="maxSalary" placeholder="ex. 17000" required />
                </div>
            </div>

            <div class="column">
                <div class="select-box">
                    <select formControlName="hiringType" style="background-color: transparent;" required>
                        <option value="" disabled selected hidden>Type of Hiring</option>
                        <option *ngFor="let hiring of hiringType" [value]="hiring.value">{{ hiring.display }}
                        </option>
                    </select>
                </div>

                <div class="select-box">
                    <select formControlName="roleLevel" style="background-color: transparent;" required>
                        <option value="" disabled selected hidden>Role Level</option>
                        <option *ngFor="let role of roleLevel" [value]="role.value">{{ role.display }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="column">
                <div class="select-box">
                    <select formControlName="jobLocation" style="background-color: transparent;" required>
                        <option value="" disabled selected hidden>Location</option>
                        <option *ngFor="let loc of jobLocation" [value]="loc.value">{{ loc.display }}
                        </option>
                    </select>
                </div>

                <div class="select-box">
                    <select formControlName="shiftSched" style="background-color: transparent;" required>
                        <option value="" disabled selected hidden>Schedule</option>
                        <option *ngFor="let sched of shiftSched" [value]="sched.value">{{ sched.display }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="input-box">
                <label>Job Description</label>
                <textarea class="styled-textarea" formControlName="jobDescription" placeholder="Type here the details about the job you want to upload." required></textarea>
            </div>

            <br>
            <h2>Other Details</h2>

            <div class="input-box">
                <label>Sales Manager</label>
                <input type="text" formControlName="salesManager" placeholder="ex. Juana Dela Rosa" required />
            </div>

            <div class="column">
                <div class="select-box">
                    <select formControlName="hiringManager" style="background-color: transparent;" required>
                        <option value="" disabled selected hidden>Hiring Manager</option>
                        <option *ngFor="let manager of hiringManager" [value]="manager.value">{{ manager.display }}
                        </option>
                    </select>
                </div>

                <div class="select-box">
                    <select formControlName="jobStatus" style="background-color: transparent;" required>
                        <option value="" disabled selected hidden>Status</option>
                        <option *ngFor="let status of jobStatus" [value]="status.value">{{ status.display }}
                        </option>
                    </select>
                </div>
            </div>

            <!-- <div class="input-box">
                <label>Closed Date</label>
                <input type="date" formControlName="closedDate" required/>
            </div> -->

            <button type="submit">Submit</button>
        </form>
    </section>
</main>