<!-- <footer class="site-footer">
    <div class="footer-main">
        Etiam et id tincidunt faucibus mollis a sociis pretium fermentum quis magna faucibus lacus.
    </div>
    <div class="footer-navigation">
        <div class="footer-nav">
            <h5>Marketplace</h5>
            <p>Home</p>
            <p>Activity</p>
            <p>Discover</p>
            <p>Learn more</p>
        </div>
        <div class="footer-nav">
            <h5>Company</h5>
            <p>About Us</p>
            <p>Services</p>
            <p>All Jobs</p>
        </div>
        <div class="footer-nav">
            <h5>Contact</h5>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
            <p>Email</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright 2024 ITSquarehub Global Services, Corp.</p>
    </div>
</footer> -->

<section class="footer-container">
    <footer class="site-footer">
        <div class="footer-content">
            <div class="footer-main-text">
                We provide world class services at a fraction of a cost without sacrificing quality.
            </div>
            <div class="footer-navigation">
                <div class="nav-section">
                    <h5>Contact</h5>
                    <!-- <p>Philippines</p> -->
                    <p><i class="fas fa-phone"></i> +63 906 001-0784 (Globe)</p>
                    <p><i class="fas fa-phone"></i> +63 921 859-1348 (Smart)</p>
                    <p><i class="fas fa-map-marker-alt"></i> G/F, Unit 5, Clark Center 09, Jose Abad Santos, Clark Freeport Zone, Central Luzon, Philippines</p>
                    <!-- <p>United States of America</p>
                    <p><i class="fas fa-phone-alt"></i> +1 786 838-0655</p>
                    <p><i class="fas fa-map-marker-alt"></i> 1150 Nw 72nd Ave Tower 1 Ste 455 #14509, Miami FL 33126, US</p>
                    <p>United Kingdom </p>
                    <p><i class="fas fa-phone-alt"></i> +44 741 834-9859</p>
                    <p><i class="fas fa-map-marker-alt"></i> 63-66 Hatton Garden, London, EC1N 8LE, United Kingdom</p> -->
                </div>
                <div class="nav-section">
                    <h5>Company</h5>
                    <p>About Us</p>
                    <p>Services</p>
                    <p>All Jobs</p>
                </div>
                <div class="nav-section">
                    <h5>Socials</h5>
                    <p>Facebook</p>
                    <p>Instagram</p>
                    <p>Twitter</p>
                    <p>Email</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div></div>
            <p>Copyright 2024 ITSquarehub Global Services, Corp.</p>
        </div>
    </footer>
</section>