<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<main class="ats-container">
    <section class="ats-section">
        <div class="ats-header-container">
            <div class="left-content">
                <div class="logo-container">
                    <img class="logo-img" src="assets/img/itsquarehub_logo.png" alt="Logo" />
                </div>

                <div class="ats-header">
                    IT Squarehub
                    <div class="logo-subtext">Applicant Tracking System</div>
                </div>
            </div>

            <div class="right-content">
                <div class="date-picker-container">
                    <mat-form-field class="custom-form-field" appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate"
                            (dateChange)="onCustomDateChange()" />
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="custom-form-field" appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate"
                            (dateChange)="onCustomDateChange()" />
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                    
                    <mat-form-field class="custom-form-field" appearance="outline">
                        <mat-label>Time Period</mat-label>
                        <mat-select [(ngModel)]="selectedPeriod" (selectionChange)="onPeriodChange()">
                            <mat-option *ngFor="let period of timePeriods" [value]="period.value">
                                {{ period.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <button mat-raised-button color="primary" (click)="downloadExcel()">Export to Excel</button>
                </div>

            </div>
        </div>
    </section>
</main>

<section class="reports-main">
    <div class="reports-background">
        <h2>Application Status</h2>
        <div class="reports-row">
            <div class="reports-card new-applications">
                <i class="fa-solid fa-file-pen"></i>
                <div class="reports-stack">
                    <h6>New Applications</h6>
                    <p class="report-card-value value">{{ getNewCandidates() }}</p>
                </div>
            </div>
            <div class="reports-card qualified">
                <i class="fa-solid fa-check-to-slot"></i>
                <div class="reports-stack">
                    <h6>Qualified</h6>
                    <p class="report-card-value value">{{ getQualifiedCandidates() }}</p>
                </div>
            </div>
            <div class="reports-card scheduled">
                <i class="fa-solid fa-calendar-day"></i>
                <div class="reports-stack">
                    <h6>Scheduled</h6>
                    <p class="report-card-value value">
                        {{ getForInterviewCandidates() }}
                    </p>
                </div>
            </div>
            <div class="reports-card interviewed">
                <i class="fa-solid fa-clipboard-question"></i>
                <div class="reports-stack">
                    <h6>Interviewed</h6>
                    <p class="report-card-value value">
                        {{ getInterviewedCandidates() }}
                    </p>
                </div>
            </div>
            <div class="reports-card joined">
                <i class="fa-solid fa-user-check"></i>
                <div class="reports-stack">
                    <h6>Joined</h6>
                    <p class="report-card-value value">{{ getNewHires() }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<main class="dashboard-container">
    
    <section class="reports-section">
        <div class="report-card">
            <div #sourcingToolChart style="width: 500px; height: 400px"></div>
        </div>

        <div class="report-card">
            <div #hrChart style="width: 400px; height: 400px"></div>
        </div>

        <div class="report-card">
            <div #applicantFunnelChart style="width: 500px; height: 400px"></div>
        </div>

        <div class="report-card">
            <div>
                <div #candidatesChart style="width: 800px; height: 400px"></div>
            </div>
        </div>

        <div class="report-card">
            <!-- <h2>Active Jobs</h2>
            <p>{{ getActiveJobsCount() }}</p> -->

            <div>
                <div #activeJobsChart style="width: 400px; height: 400px"></div>
            </div>
        </div>
    </section>
    
    <section class="progress-section">
        <div class="progress-card">

            <div #newCandidatesChart style="width: 900px; height: 400px"></div>
        </div>

        <div class="progress-card">
            <div #interviewChart style="width: 400px; height: 400px"></div>
        </div>

        <div class="progress-card">
            <div #jobOffersChart style="width: 400px; height: 400px"></div>
        </div>

        <div class="progress-card">
            <div #newHiresChart style="width: 900px; height: 400px"></div>
        </div>

        <div class="progress-card">
            <div class="table_container">
                <div class="mat-elevation-z8">
                    <mat-form-field class="search-form-field" appearance="outline">
                        <mat-icon matPrefix>search</mat-icon>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input />
                    </mat-form-field>

                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container matColumnDef="jobName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-icon class="column-icon">work</mat-icon>
                                Job Name
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="ms-3">
                                    <p class="primary-text">{{ element.jobName }}</p>
                                </div>
                            </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="timeToFill">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-icon class="column-icon">hourglass_empty</mat-icon>
                                Time to Fill
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.timeToFill || "N/A" }}
                            </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="aging">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-icon class="column-icon">timer</mat-icon>
                                Aging
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.aging || "N/A" }}
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                        <tr class="mat-row no-data-row" *matNoDataRow>
                            <td class="mat-cell no-data-cell" colspan="3">
                                No data matching the filter "{{ input.value }}"
                            </td>
                        </tr>
                    </table>
                    
                    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="https://fastly.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>