.reports-card i,
i::before {
    position: absolute;
    width: 60px;
    height: 60px
}

i::before,
tr {
    height: 60px
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 2rem auto;
    max-width: 1600px;
    width: 100%;
}

#progress,
#reports {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px
}

h1 {
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #333
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #444
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #555
}

li,
p {
    font-size: 1.2rem;
    color: #666
}

ul {
    list-style-type: none;
    padding-left: 0
}

li {
    margin-bottom: 8px
}

@media (max-width:768px) {

    #progress,
    #reports {
        grid-template-columns: 1fr
    }
}

.progress-section,
.reports-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px
}

.progress-card,
.report-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center
}

#chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    overflow: hidden
}

.reports-main {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    max-width: 1600px;
    width: 100%
}

.reports-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.reports-card,
.reports-card i {
    align-items: center;
    display: flex
}

.reports-background {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.reports-card {
    width: 250px;
    padding: 10px 10px 10px 50px;
    margin: 10px 30px;
    border-radius: 8px;
    text-align: left;
    color: #fff;
    border: 2px solid;
    min-height: 8rem;
    position: relative
}

.reports-card i {
    font-size: 28px;
    left: -30px;
    z-index: 1;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3)
}

i::before {
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1
}

.new-applications i::before {
    background-color: #e57373
}

.qualified i::before {
    background-color: #7986cb
}

.scheduled i::before {
    background-color: #f06292
}

.interviewed i::before {
    background-color: #ffb74d
}

.joined i::before {
    background-color: #81c784
}

.reports-stack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start
}

.reports-card h6 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #454a52
}

.reports-card .report-card-value {
    font-size: 24px;
    font-weight: 700;
    color: #191a1b
}

.new-applications {
    background-color: #f9dad9;
    border-color: #fceeee
}

.qualified {
    background-color: #e2e2f8;
    border-color: #f5f5ff
}

.scheduled {
    background-color: #f6d9ed;
    border-color: #fceef7
}

.interviewed {
    background-color: #fdf0cc;
    border-color: #fff7e6
}

.joined {
    background-color: #d9eed8;
    border-color: #eefaf0
}

.table_container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    /* width: 800px;  */
}

.mat-elevation-z8 {
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.mat-cell,
.mat-header-cell {
    padding: 8px;
    text-align: left
}

.search-form-field {
    width: 100%;
    margin-bottom: 20px
}

input[matInput] {
    padding-left: 2px
}

.mat-icon {
    margin-right: 8px;
    color: #757575
}

.paginator,
table,
td,
th,
tr {
    font-family: Lato, sans-serif;
    font-size: 1rem
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed
}

.mat-header-cell {
    color: #424242;
    display: flex;
    align-items: center;
    transition: background-color .3s, color .3s
}

.column-icon {
    margin-right: 8px;
    color: #004ba3;
    vertical-align: middle
}

.mat-cell {
    border-bottom: 1px solid #e0e0e0
}

.paginator {
    background-color: transparent;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end
}

.mat-paginator-page-size,
.mat-paginator-range-label {
    margin-right: 20px
}

.no-data-row {
    text-align: center;
    font-style: italic;
    color: #757575;
    background-color: #f5f5f5;
    padding: 20px;
    height: 100px
}

.no-data-cell {
    padding: 20px;
    font-size: 1.2em
}

tr:hover {
    background-color: #f1f1f1
}

.primary-text {
    font-size: 1rem;
    font-weight: 700;
    color: #004ba3;
    margin: 0;
    padding: 0
}