<main class="candidates_container">
    <section class="candidates_section">
        <h1 class="candidates_header">List of Candidates</h1>
    </section>
</main>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="mat-elevation-z8">
    <mat-form-field class="search-form-field" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="csequenceNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sequence No</th>
            <td mat-cell *matCellDef="let element">{{ element.csequenceNo }}</td>
        </ng-container>

        <ng-container matColumnDef="candidateName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Candidate Name</th>
            <td mat-cell *matCellDef="let element">{{ element.candidateName }}</td>
        </ng-container>

        <ng-container matColumnDef="jobName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Name</th>
            <td mat-cell *matCellDef="let element">{{ element.jobName }}</td>
        </ng-container>

        <ng-container matColumnDef="applicationStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">{{ element.applicationStatus }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="editElement(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteElement(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<app-admin-job-candidate-editing *ngIf="selectedJobCandidate" [jobCandidate]="selectedJobCandidate"
    (close)="closeEditor()"></app-admin-job-candidate-editing>