<header>
    <div class="navbar">
        <div class="logo-container">
            <div class="logo">
                <img class="logo-img" src="assets/img/itsquarehub_logo.png" alt="Logo" />
                <div class="logo-text"><a routerLink="/">ITSquarehub</a></div>
            </div>
        </div>

        <!-- Center links for Home and About -->
        <ul class="links">
            <li *ngFor="let item of mainNavbarData">
                <a class="navlink" [routerLink]="item.routeLink" routerLinkActive="selectedlink">
                    {{ item.label }}
                </a>
            </li>
        </ul>

        <!-- User dropdown when logged in -->
        <ng-container *ngIf="isLoggedIn">
            <div class="user-dropdown">
                <i class="fas fa-user user-icon"></i>
                <span class="greetings">{{ currentUser?.firstName }}</span>
                
                <!-- Only the dropdown-icon (arrow) is clickable -->
                <span class="dropdown-toggle" (click)="toggleDropdown()">
                    <i class="fas fa-chevron-down dropdown-icon"></i>
                </span>
                
                <!-- Dropdown will open if isDropdownOpen is true -->
                <div class="dropdown_loggedin" [class.open]="isDropdownOpen">
                    <ul>
                        <li *ngFor="let item of dropdownNavbarData">
                            <a class="navlink" [routerLink]="item.routeLink" routerLinkActive="selectedlink">
                                {{ item.label }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </ng-container>

        <!-- Login button for non-logged-in users -->
        <ng-container *ngIf="!isLoggedIn">
            <a routerLink="/login" class="action_button">Login</a>
        </ng-container>

        <!-- Toggle button for mobile view -->
        <div class="toggle_btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>

    <!-- Dropdown menu for mobile view -->
    <div class="dropdown_menu">
        <ul>
            <li *ngIf="isLoggedIn">
                <span class="greetings">{{ currentUser?.firstName }}</span>
            </li>
            <li *ngFor="let item of mainNavbarData">
                <a class="navlink" [routerLink]="item.routeLink" routerLinkActive="selectedlink">
                    {{ item.label }}
                </a>
            </li>
            <li *ngIf="!isLoggedIn">
                <a routerLink="/login" class="action_button">Login</a>
            </li>
            <li *ngFor="let item of dropdownNavbarData">
                <a class="navlink" [routerLink]="item.routeLink" routerLinkActive="selectedlink">
                    {{ item.label }}
                </a>
            </li>
        </ul>
    </div>
</header>
