<header>
    <div class="navbar">
        <div class="logo-container">
            <div class="logo">
                <img class="logo-img" src="assets/img/itsquarehub_logo.png" alt="Logo" />
                <div class="logo-text"><a routerLink="/">ITSquarehub</a></div>
            </div>
        </div>
        <ul class="links">
            <li *ngFor="let item of navbarData">
                <a class="navlink" [routerLink]="item.routeLink" routerLinkActive="selectedlink">
                    {{ item.label }}
                </a>
            </li>
        </ul>
        <!-- Authenticated user actions -->
        <ng-container *ngIf="isAuthenticated">
            <div class="user-actions">
                <span class="greetings">Hi, {{ currentUser?.firstName }}</span>
                <a class="action_button" (click)="logout()">Logout</a>
            </div>
        </ng-container>
        <!-- Display login button if not authenticated -->
        <ng-container *ngIf="!isAuthenticated">
            <a routerLink="/login" class="action_button">Login</a>
        </ng-container>

        <div class="toggle_btn">
            <i class="fas fa-bars"></i>
        </div>
        
    </div>
    <div class="dropdown_menu">
        <ul>
            <li *ngFor="let item of navbarData">
                <a class="navlink" [routerLink]="item.routeLink" routerLinkActive="selectedlink">
                    {{ item.label }}
                </a>
            </li>
            <li *ngIf="!isAuthenticated">
                <a routerLink="/login" class="action_button">Login</a>
            </li>
            <span class="greetings" *ngIf="isAuthenticated">Hi, {{ currentUser?.firstName }}</span>
            <li *ngIf="isAuthenticated">
                <a class="action_button" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</header>