<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<main class="job-posting">
    <div class="icon-container">
        <i class="fas fa-user-plus job-icon"></i>
    </div>
    <h1 class="job-posting-header">Recruitment</h1>
    <h3 class="job-posting-subheader">Fill in the details for candidate recruitment</h3>
    <section class="container">
        <form [formGroup]="candidateForm" (ngSubmit)="onSubmit()" class="form">

            <h2>Personal Information</h2>
            <div class="input-box">
                <label>Full Name</label>
                <input type="text" formControlName="candidateName" placeholder="ex. Juan C. Dela Cruz"/>
                <div style="color: red;" *ngIf="candidateForm.controls['candidateName'].invalid && (isCandidateFormSubmitted || candidateForm.controls['candidateName'].touched || candidateForm.controls['candidateName'].dirty)">
                    <span *ngIf="candidateForm.controls['candidateName'].errors?.['required']"><i class="fa fa-warning"></i> This field is required.</span>
                </div>
            </div>
            <div class="column">
                <div class="input-box">
                    <label>Email Address</label>
                    <input type="email" formControlName="candidateEmail" placeholder="ex. juan.delacruz@outlook.com"
                        required />
                        <div style="color: red;" *ngIf="candidateForm.controls['candidateEmail'].invalid && (isCandidateFormSubmitted || candidateForm.controls['candidateEmail'].touched || candidateForm.controls['candidateEmail'].dirty)">
                            <span *ngIf="candidateForm.controls['candidateEmail'].errors?.['required']"><i class="fa fa-warning"></i> This field is required.</span>
                        </div>
                </div>
                <div class="input-box">
                    <label>Contact Number</label>
                    <input type="text" formControlName="candidateContact" placeholder="ex. 9123456789" required />
                    <div style="color: red;" *ngIf="candidateForm.controls['candidateContact'].invalid && (isCandidateFormSubmitted || candidateForm.controls['candidateContact'].touched || candidateForm.controls['candidateContact'].dirty)">
                        <span *ngIf="candidateForm.controls['candidateContact'].errors?.['required']"><i class="fa fa-warning"></i> This field is required.</span>
                    </div>
                </div>
            </div>
            <br>

            <h2>Application Details</h2>

            <div class="column">
                <div class="input-box">
                    <label>Job Role Number</label>
                    <select formControlName="jobRoleId" style="background-color: transparent;" (change)="onJobRoleChange($event)" required>
                        <option value="" disabled selected hidden>JR-00001</option>
                        <option *ngFor="let jobRole of jobRoles" [value]="jobRole.sequenceNo">
                            {{ jobRole.sequenceNo }}
                        </option>
                    </select>
                    <div style="color: red;" *ngIf="candidateForm.controls['jobRoleId'].invalid && (isCandidateFormSubmitted || candidateForm.controls['jobRoleId'].touched || candidateForm.controls['jobRoleId'].dirty)">
                        <span *ngIf="candidateForm.controls['jobRoleId'].errors?.['required']"><i class="fa fa-warning"></i> This field is required.</span>
                    </div>
                </div>

                <div class="input-box">
                    <label>Job Role</label>
                    <input type="text" formControlName="jobName" placeholder="ex. HR Assistant" readonly />
                    <div style="color: red;" *ngIf="candidateForm.controls['jobName'].invalid && (isCandidateFormSubmitted || candidateForm.controls['jobName'].touched || candidateForm.controls['jobName'].dirty)">
                        <span *ngIf="candidateForm.controls['jobName'].errors?.['required']"><i class="fa fa-warning"></i> This field is required.</span>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="input-box">
                    <label>Job Offer</label>
                    <input type="date" formControlName="jobOffer" />
                </div>
                <div class="input-box">
                    <label>Contract</label>
                    <input type="date" formControlName="candidateContract" />
                </div>
            </div>

            <div class="column">
                <!-- Sourcing Tools Dropdown -->
                <div class="input-box">
                    <select formControlName="sourceTool" >
                        <option value="" disabled selected hidden>Sourcing Tools</option>
                        <option *ngFor="let tool of sourcingTools" [value]="tool.value">{{ tool.display }}</option>
                    </select>
                </div>

                <!-- HR In-Charge Dropdown -->
                <div class="input-box">
                    <select formControlName="assignedHr" >
                        <option value="" disabled selected hidden>HR In-Charge</option>
                        <option *ngFor="let hr of hrInCharges" [value]="hr.value">{{ hr.display }}</option>
                    </select>
                </div>
            </div>

            <br>
            <h2>Agreed Figures</h2>

            <div class="column">
                <div class="input-box">
                    <label>Asking Gross Salary</label>
                    <input type="number" formControlName="askingSalary" placeholder="ex. 18000" />
                </div>
                <div class="input-box">
                    <label>Honorarium</label>
                    <input type="text" formControlName="honorarium" placeholder="ex. N/A" />
                </div>
            </div>

            <div class="input-box">
                <select formControlName="salaryNegotiable" >
                    <option value="" disabled selected hidden>Is the Salary Negotiable?</option>
                    <!-- <option *ngFor="let negotiable of salaryNegotiables">{{ negotiable }}</option> -->
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>

            <div class="column">
                <div class="input-box">
                    <label>Minimum Negotiated Salary</label>
                    <input type="number" formControlName="minSalary" placeholder="ex. 15000" />
                </div>
                <div class="input-box">
                    <label>Maximum Negotiated Salary</label>
                    <input type="number" formControlName="maxSalary" placeholder="ex. 18000" />
                </div>
            </div>

            <div class="column">
                <div class="input-box">
                    <label>Final Basic Salary</label>
                    <input type="number" formControlName="finalSalary" placeholder="ex. 16000" />
                </div>
                <div class="input-box">
                    <label>Allowances</label>
                    <input type="number" formControlName="allowance" placeholder="ex. 1500" />
                </div>
            </div>

            <br>
            <h2>Candidate Status</h2>

            <div class="column">
                <div class="input-box">
                    <label>Date Applied</label>
                    <input type="date" formControlName="dateApplied" required />
                    <div style="color: red;" *ngIf="candidateForm.controls['dateApplied'].invalid && (isCandidateFormSubmitted || candidateForm.controls['dateApplied'].touched || candidateForm.controls['dateApplied'].dirty)">
                        <span *ngIf="candidateForm.controls['dateApplied'].errors?.['required']"><i class="fa fa-warning"></i> This field is required.</span>
                    </div>
                </div>
                <div class="input-box">
                    <label>Background Verification</label>
                    <input type="date" formControlName="backgroundVerification" />
                </div>
            </div>

            <div class="column">
                <div class="input-box">
                    <label>Initial Interview Schedule</label>
                    <input type="date" formControlName="initialInterviewSchedule" required />
                    <div style="color: red;" *ngIf="candidateForm.controls['initialInterviewSchedule'].invalid && (isCandidateFormSubmitted || candidateForm.controls['initialInterviewSchedule'].touched || candidateForm.controls['initialInterviewSchedule'].dirty)">
                        <span *ngIf="candidateForm.controls['initialInterviewSchedule'].errors?.['required']"><i class="fa fa-warning"></i> This field is required.</span>
                    </div>
                </div>
                <div class="input-box">
                    <label>Technical Interview Schedule</label>
                    <input type="date" formControlName="technicalInterviewSchedule" />
                </div>
            </div>

            <div class="input-box">
                <label>Client / Final Interview Schedule</label>
                <input type="date" formControlName="clientFinalInterviewSchedule" />
            </div>

            <div class="column">
                <div class="input-box">
                    <select formControlName="noticeDuration"  required>
                        <option value="" disabled selected hidden>Availability</option>
                        <option *ngFor="let notice of noticeDurations" [value]="notice.value">{{ notice.display }}
                        </option>                        
                    </select>
                    <div style="color: red;" *ngIf="candidateForm.controls['noticeDuration'].invalid && (isCandidateFormSubmitted || candidateForm.controls['noticeDuration'].touched || candidateForm.controls['noticeDuration'].dirty)">
                        <span *ngIf="candidateForm.controls['noticeDuration'].errors?.['required']"><i class="fa fa-warning"></i> This field is required.</span>
                    </div>
                </div>

                <div class="input-box">
                    <select formControlName="applicationStatus" >
                        <option value="" disabled selected hidden>Status</option>
                        <option *ngFor="let status of applicationStatuses" [value]="status.value">{{ status.display }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="input-box">
                <label>Remarks</label>
                <input type="text" formControlName="remarks" placeholder="ex. Onboarded" />
            </div>

            <div class="input-box">
                <label for="upload" class="formbold-form-label">
                    Upload CV / Resume
                </label>
                <input type="file" (change)="onFileSelected($event)" name="upload" id="upload"
                    class="formbold-form-input formbold-form-file" formControlName="candidateCv" required />
                    <div style="color: red;" *ngIf="candidateForm.controls['candidateCv'].invalid && (isCandidateFormSubmitted || candidateForm.controls['candidateCv'].touched || candidateForm.controls['candidateCv'].dirty)">
                        <span *ngIf="candidateForm.controls['candidateCv'].errors?.['required']"><i class="fa fa-warning"></i> This field is required.</span>
                    </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </section>
</main>